td {
  border: 1px solid black;
  text-align: center;
}
table {
  margin: 0;
  padding: 0;
}
.quetion {
  background-color: rgb(245, 245, 117);
}
.word {
  background-color: rgb(255, 255, 255);
}
.nothing{
  background-color: rgb(133, 133, 133);
}